@import "mixin";
@import "var";

*{

}
.box{
  width: $w;
  height: $w;
  @include middle;
  z-index: 991;
  background:#FFCC33;
}
.chess{
  float: left;
  width: $r * 2;
  height: $r * 2;
  border-radius: 50%;
  position: relative;
  z-index: 999;
}
.black{
  background: black;
  box-shadow: 0 0 4px #ffca3b;
}
.white{
  background: white;
  box-shadow: 0 0 4px #ffca3b;
}
.heng{
  width: $w - $r*2;
  height: 1px;
  background: #000000;
  position: absolute;
  left: $r;
  transform: translate3d(-300%,0,0);
  animation: through 1s ease-in forwards;
}
.shu{
  height: $w - $r*2;
  width: 1px;
  background: #000000;
  position: absolute;
  top: $r;
  transform: translate3d(0,-300%,0);
  animation: down 1s ease-in forwards;

}
@for $i from 1 through 15{
  .heng:nth-of-type(#{$i}){
    top:(2 * $i - 1) * $r;
    animation-delay: 100ms*$i;
  }
  .shu:nth-of-type(#{$i}){
    left:(2 * $i - 1) * $r;
    animation-delay: 100ms*$i;
  }
}

@keyframes down {
  from{
    transform: translate3d(0,-300%,0);
  }to{
       transform: translate3d(0,0,0);
     }
}
@keyframes through {
  from{
    transform: translate3d(-300%,0,0);
  }to{
     transform: translate3d(0,0,0);
   }
}