@mixin auto($w:100px,$h:100px){
  width:$w;
  height:$h;
}
@mixin center($w,$h){
  width:$w;
  height:$h;
  margin: auto;
}
@mixin middle{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}